
<div class="h2"> Advanced Search</div>
<form [formGroup]="advancedSearchForm" (ngSubmit)="onFormSubmit(advancedSearchForm.value)">
  <div class="row">
    <div class="col-md-2">
      <mat-form-field>
        <mat-select placeholder="Language" formControlName="formLanguage" multiple>
          <mat-option *ngFor="let language of languages" [value]="language.value">
            {{ language.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Gender" formControlName="gender" multiple>
          <mat-option *ngFor="let option of genders" [value]="option.value">
            {{ option.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <mat-checkbox formControlName="cspIndicator"> CSP Indicator</mat-checkbox>
        <mat-checkbox formControlName="badgercareIndicator">Badgercare Indicator</mat-checkbox>
        <mat-checkbox formControlName="prescribingProvider">Prescribing Provider</mat-checkbox>
        <mat-checkbox formControlName="medicareIndicator">Medicare Indicator</mat-checkbox>
        <mat-checkbox [ngModel]="acceptingNewPatients" formControlName="acceptingNewPatients">Accepting New Patients</mat-checkbox>
      </div>
    </div>
    <div class="col-md-5">

      <mat-form-field>
        <mat-select placeholder="Conditions" formControlName="condition" multiple>
          <mat-option *ngFor="let option of conditions" [value]="option.setID">
            {{ option.textValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Therapuetic Approaches/Treatments" formControlName="theraApproach" multiple>
          <mat-option *ngFor="let option of therapeuticApproaches" [value]="option.setID">
            {{ option.textValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Modes" formControlName="mode" multiple>
          <mat-option *ngFor="let mode of modes" [value]="mode.setID">
            {{ mode.textValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Other" formControlName="other" multiple>
          <mat-option *ngFor="let other of otherList" [value]="other.setID">
            {{ other.textValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Ages" formControlName="age" multiple>
          <mat-option *ngFor="let age of ages" [value]="age.setID">
            {{ age.textValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-5">


      <mat-form-field>
        <input matInput placeholder="City" formControlName="city">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Region" formControlName="region">
      </mat-form-field>
      <!--<div>
        <mat-form-field>
          <input matInput placeholder="Facility Name" formControlName="facilityName">
        </mat-form-field>
      </div>-->
      <div>
      
        <mat-form-field class="mat-container">
          <mat-select placeholder="Facility Name" formControlName="facilityID" multiple>
            <mat-option *ngFor="let facility of facilityList" [value]="facility.id">
              {{ facility.facilityName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!--<div>
        Option #2
        <mat-form-field class="mat-container">
          <input matInput [matAutocomplete]="auto" [formControl]="myControl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let facilityList of filteredOptions | async"
                        [value]="facilityList.facilityName">
              <span>{{ facilityList.facilityName }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>-->

    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1">
        <button type="button" class="btn btn-info" (click)="clearDataSource();advancedSearchForm.reset()">Clear Form</button>

      </div>
      <div class="col-sm-11">
        <button mat-raised-button color="accent">Search</button>
      </div>
    </div>
  </div>
</form>

<div class="text-danger" *ngIf="message">
  {{message}}
</div>
<div class="row">
  <br />
</div>
<div class="mat-elevation-z8">
  <h5 style="margin-left:10px"> Facility Relationships</h5>
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef> Provider Name </mat-header-cell>
      <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipRoute(facilityProviderRelationships)"> {{facilityProviderRelationships.provider.fullName}} - {{facilityProviderRelationships.provider.credentials}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="facilityName">
      <mat-header-cell *matHeaderCellDef> Facility Name </mat-header-cell>
      <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipFacilityRoute(facilityProviderRelationships)"> {{facilityProviderRelationships.facility.facilityName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="facilityAddress">
      <mat-header-cell *matHeaderCellDef> Facility Address </mat-header-cell>
      <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipFacilityRoute(facilityProviderRelationships)">
        {{facilityProviderRelationships.facility.facilityAddress.addressLine1}} {{facilityProviderRelationships.facility.facilityAddress.addressLine2}} -
        {{facilityProviderRelationships.facility.facilityAddress.city}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="facilityPhoneNumber">
      <mat-header-cell *matHeaderCellDef> Facility Phone Number </mat-header-cell>
      <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipFacilityRoute(facilityProviderRelationships)">
        {{facilityProviderRelationships.facility.facilityAddress.phoneNumber}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="conditions">
      <mat-header-cell *matHeaderCellDef> Conditions </mat-header-cell>
      <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipFacilityRoute(facilityProviderRelationships)">
        <li *ngFor="let conditions of facilityProviderRelationships.providerConditionsList">
          {{conditions}}
        </li>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="therapeuticApproaches">
      <mat-header-cell *matHeaderCellDef> Therapeutic Approaches </mat-header-cell>
      <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipFacilityRoute(facilityProviderRelationships)">
        <li *ngFor="let conditions of facilityProviderRelationships.therapeauticApproachesList">
          {{conditions}}
        </li>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20, 50]">
  </mat-paginator>
</div>











<!--<mat-form-field>
  <mat-select placeholder="Credential">
    <mat-option *ngFor="let credential of credentialsList" [value]="credential.viewValue">
      {{ credential.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>-->
<!--<select [(ngModel)]="credential">
  <option *ngFor="let credential of credentialsList" [ngValue]="credential">{{credential.viewValue}}</option>
</select>-->
<!--{{credential}}-->
<!--<select class="form-control">
  <option *ngFor="let languages of provider">{{provider.languages}}</option>
</select>-->
<!--<mat-checkbox placeholder="CSP Indicator"> CSP Indicator</mat-checkbox>
<div>Name: <input type="text" [(ngModel)]="providerName" /></div>
<div>Credentials: <input type="text" [(ngModel)]="credentials" /></div>

<ul>
  <li *ngFor="let prov of facilityProviderRelationships | providerSearch : providerName : credential : csp_indicator">
    {{prov.provider.fullName}} -
    {{prov.provider.languages}} -
    {{prov.provider.csP_Indicator}} -
    {{prov.provider.credentials}}
  </li>
</ul>-->
