<div id="custom-search-input">
  <div>
    <h5>Welcome to Behavioral  Health Web</h5>
  </div>
  <form [formGroup]="searchForm" (ngSubmit)="providerSearch(search.value)">
    <div class="row">
      <div class="col-sm-8 form-group">
        <input type="search"
               class="form-control"
               placeholder="Vendor Name / Facility Name / Provider Name/ Address"
               formControlName="text"
               required
               #search>
      </div>
      <div class="form-group">
        <i class="fa fa-search"></i>
        <button type="submit" [disabled]="!searchForm.valid" class="btn btn-primary">Search</button>
      </div>

    </div>

  </form>
  <div class="row">
    <div class="col">
      <mat-checkbox>External</mat-checkbox>
    </div>
    <div class="col"></div>
    <!--<button class="col-sm-8" mat-button [disabled]="!searchForm.valid">Advanced Search</button>-->
    <div class="col">
      <button class="btn" [routerLink]="['/advanced-search']">Advanced Search</button>
    </div>

  </div>
  <div>
    <i class="fa fa-spinner fa-2x" aria-hidden="true" *ngIf="loading"></i>
  </div>
  <div class="text-danger" *ngIf="message">
    {{message}}
  </div>
  <div class="example-container mat-elevation-z8">
    <h5 style="margin-left:10px"> Facility Relationships</h5>
    <mat-table #table [dataSource]="facilityProviderRelationships"  matSort>
      Position Column
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
        <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipRoute(facilityProviderRelationships)"> {{facilityProviderRelationships.provider.firstName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipRoute(facilityProviderRelationships)"> {{facilityProviderRelationships.provider.lastName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="facilityName">
        <mat-header-cell *matHeaderCellDef> Facility Name </mat-header-cell>
        <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipFacilityRoute(facilityProviderRelationships)"> {{facilityProviderRelationships.facility.facilityName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="region">
        <mat-header-cell *matHeaderCellDef> Region </mat-header-cell>
        <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipFacilityRoute(facilityProviderRelationships)"> {{facilityProviderRelationships.facility.region}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef> Facility Address</mat-header-cell>
        <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipFacilityRoute(facilityProviderRelationships)">
          {{facilityProviderRelationships.facility.facilityAddress.addressLine1}} {{facilityProviderRelationships.facility.facilityAddress.addressLine2}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef> City</mat-header-cell>
        <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipFacilityRoute(facilityProviderRelationships)">
          {{facilityProviderRelationships.facility.facilityAddress.city}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="zip">
        <mat-header-cell *matHeaderCellDef> Zip</mat-header-cell>
        <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipFacilityRoute(facilityProviderRelationships)">
          {{facilityProviderRelationships.facility.facilityAddress.zipCode}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
        <mat-cell *matCellDef="let facilityProviderRelationships" (click)="providerRelationshipFacilityRoute(facilityProviderRelationships)">
          {{facilityProviderRelationships.facility.facilityAddress.phoneNumber}}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="facilityRelationshipColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: facilityRelationshipColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
  <div *ngIf="results?.facilities.length > 0" class="example-container mat-elevation-z8">
    <h5> Facilities</h5>
    <mat-table #table [dataSource]="facility">
      <!-- Position Column -->
      <ng-container matColumnDef="facilityName">
        <mat-header-cell *matHeaderCellDef> Facility Name </mat-header-cell>
        <mat-cell *matCellDef="let facility" (click)="facilityRoute(facility)"> {{facility.facilityName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef> Facility Address</mat-header-cell>
        <mat-cell *matCellDef="let facility" (click)="facilityRoute(facility)">
          {{facility.facilityAddress.addressLine1}} {{facility.facilityAddress.addressLine2}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef> City</mat-header-cell>
        <mat-cell *matCellDef="let facility" (click)="facilityRoute(facility)">
          {{facility.facilityAddress.city}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="zip">
        <mat-header-cell *matHeaderCellDef> Zip</mat-header-cell>
        <mat-cell *matCellDef="let facility" (click)="facilityRoute(facility)">
          {{facility.facilityAddress.zipCode}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
        <mat-cell *matCellDef="let facility" (click)="facilityRoute(facility)">
          {{facility.facilityAddress.phoneNumber}}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="facilityColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: facilityColumns;"></mat-row>
    </mat-table>
  </div>
  <div *ngIf="results?.providers.length > 0" class="example-container mat-elevation-z8">
    <h5> Providers</h5>
    <mat-table #table [dataSource]="provider">
      <!-- Position Column -->
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
        <mat-cell *matCellDef="let provider" (click)="providerRoute(provider)"> {{provider.firstName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let provider" (click)="providerRoute(provider)"> {{provider.lastName}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="providerColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: providerColumns;"></mat-row>
    </mat-table>
  </div>

  <div *ngIf="results?.vendors.length > 0" class="example-container mat-elevation-z8">
    <h5> Vendors</h5>
    <mat-table #table [dataSource]="vendors">
      <!-- Position Column -->
      <ng-container matColumnDef="vendorName">
        <mat-header-cell *matHeaderCellDef> Vendor Name </mat-header-cell>
        <mat-cell *matCellDef="let vendors" (click)="vendorRoute(vendors)"> {{vendors.vendorName}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="vendorColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: vendorColumns;"></mat-row>
    </mat-table>
  </div>
</div>

<!--<table *ngIf="facility?.length > 0">
  <tr>
    <th> Facility Name</th>
    <th> Facility Address</th>
  </tr>
  <tr *ngFor="let result of facility" [routerLink]="['facility',result.id]">
    <td>
      {{ result.facilityName}}
    </td>
  </tr>

</table>
<div *ngIf="provider?.length > 0"> Providers</div>
<table *ngIf="provider?.length > 0">
  <tr>
    <th> Provider Last Name</th>
    <th> Provider First Name</th>

  </tr>
  <tr *ngFor="let prov of provider" [routerLink]="['provider',prov.id]">
    <td> {{ prov.lastName }}</td>
    <td>{{ prov.firstName }}</td>
  </tr>
</table>-->
<!--<div *ngIf="vendor?.length  == 0 && searchForm.valid">No Vendors found</div>
<ul *ngIf="vendor?.length > 0">
  <p><b>Vendor</b></p>
  <li class="nav-item" [routerLinkActive]="['active']" *ngFor="let result of vendor">
    <a [routerLink]="['vendor',vendorId]" class="nav-link">  {{ result.relationshipID }}</a>
  </li>
</ul>-->
