<div class="card header">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label> Vendor Name:</label>
        </div>
        <div class="form-group">
          <label> Facility Address:</label>
          {{facilityAddress.addressLine1}}  {{facilityAddress.addressLine2}} , {{facilityAddress.city}} , {{facilityAddress.state}} , {{facilityAddress.zipCode}}
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label> Facility Name: </label>  {{facility.facilityName}}
        </div>
        <div class="form-group">
          <label>Phone Number:</label> {{facility.phoneNumber}}
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Provider Name:</label> {{provider.fullName}}
        </div>
        <div class="form-group">
          <label>Region:</label> {{facilityAddress.region}}
        </div>
      </div>
    </div>
  </div>
</div>
