.provider_title
{
  background-color: #3CC47C;
  font-size:18px;
}

.facilityProviderRelationship {
  background-color: papayawhip;
  font-size:18px;
}
.card {
 margin-bottom: 10px;
}

.red-title {
  color: red;
}





