<div *ngIf="facilityProviderRelationship != 0">
  <facility-provider-relationship></facility-provider-relationship>
</div>
<div class="card">
  <div class="card-header" style="background-color:#5e7ad5">
    <h5>
      Facility: {{facility.facilityName}}
      <a href="#" class="btn btn-primary pull-right">Link to Provider</a>
      <a href="#" class="btn btn-primary pull-right">Link to Vendor</a>
      <dialog-facility-details [facility]="edittedFacility">loading</dialog-facility-details>
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">

        <div class="form-row">
          <div class="col-md-5"><label>Facility Address Type: </label></div>
          <div class="col-md-7">  {{facilityAddress?.addressType | eNumAsString }}</div>
        </div>
        <div class="form-row">
          <div class="col-md-5"><label>Facility Address Line 1: </label></div>
          <div class="col-md-7">{{facilityAddress?.addressLine1}}</div>
        </div>
        <div class="form-row">
          <div class="col-md-5"><label>Facility Address Line 2: </label></div>
          <div class="col-md-7">{{facilityAddress?.addressLine2}}</div>
        </div>
        <div class="form-row">
          <div class="col-md-5"><label>Phone Number: </label> </div>
          <div class="col-md-7">{{facilityAddress?.phoneNumber}}</div>
        </div>
        <div class="form-row">
          <div class="col-md-5"><label>Alternate Phone Number: </label> </div>
          <div class="col-md-7">{{facilityAddress?.alternatePhoneNumber}}</div>
        </div>
       
      </div>
      <div class="col">
        <div class="form-row">
          <div class="col-md-5"><label>Contact Name: </label> </div>
          <div class="col-md-7">
            {{facilityAddress?.contactFirstName}} - {{facilityAddress?.contactLastName}}</div>
        </div>
        <div class="form-row">
          <div class="col-md-5"><label>Website: </label> </div>
          <div class="col-md-7">{{facilityAddress?.website}}</div>
        </div>
      </div>
      <div class="col">
        <div class="form-row">
          <div class="col-md-5"><label>City: </label></div>
          <div class="col-md-7">{{facilityAddress?.city}}</div>
        </div>
        <div class="form-row">
          <div class="col-md-5"><label> State: </label> </div>
          <div class="col-md-7">{{facilityAddress?.state}}</div>
        </div>
        <div class="form-row">
          <div class="col-md-5"><label>Zip: </label></div>
          <div class="col-md-7">{{facilityAddress?.zipCode}}</div>
        </div>
        <div class="form-row">
          <div class="col-md-5"><label>Region: </label></div>
          <div class="col-md-7">{{facilityAddress?.region}}</div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col" >
        <div class="form-row" style="background-color:#f6f6f6">
          <div class="col-md-2"><label>Internal Notes: </label></div>
          <div class="col-md-10">{{facility.internalNotes}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <small class="text-muted">
      Last Updated: {{facility.lastUpdatedDate | date: 'M/d/yy, h:mm a'}} - Last Updated By: {{facility.lastUpdatedBy}}
    </small>
  </div>
</div>
<p style="background-color:#c7d247">All Providers at {{facility.facilityName}} </p>
<!--<mat-form-field fxFlex="33" class="mr-20 mt-20"> (under Vendor Journey Mental Health)
  <input matInput placeholder="Facility" aria-label="Facility" [matAutocomplete]="auto" [formControl]="facilityName">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let facility of facilityList" [value]="facility.facilityName">
      <span>{{ facility.facilityName }}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>-->
<!--TODO FOR FACILITY_LINK
<form class="mat-container">
  <mat-form-field>
    <input matInput [matAutocomplete]="auto" [formControl]="myControl">
    <mat-autocomplete #auto="matAutocomplete" >
      <mat-option *ngFor="let facilityList of filteredOptions | async"
                  [value]="facilityList.facilityName">
        <span>{{ facilityList.facilityName }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>-->
<!--<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Provider Name</th>
      <th>Facility Name</th>
      <th>Facility Address</th>
      <th>Phone Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>-->
